.logo {
  width: 138px;
  height: 36px;
}

.container {
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.paddingNone {
  margin: 0 -30px;
  width: 320px;
  height: 200px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 140px;
  }
}