@import './main.module';
@import './variables.module';

@import './blocks/header.module';
@import './blocks/form.module';
@import './blocks/about.module';
@import './blocks/slider.module';
@import './blocks/footer.module';
@import './blocks/blog.module';
@import './blocks/post.module';