.footer {
  background: var(--dark-blue, #232340);
  margin-top: 120px;
  padding-top: 48px;
  padding-bottom: 1px;
  &__title {
    margin-top: 16px;
    color: #fff;
    width: 168px;
  }
  & article {
    margin-bottom: 48px;
  }
  &__category {
    color: var(--soft-blue, #5468E7);
    margin-bottom: 16px;
  }
  &__link {
    color: var(--off-white, #F5F5F5);
  }
  & input {
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background: rgba(245, 245, 245, 0.24);
    width: 100%;
    padding: 11px 16px;
  }
  &__linksContainer {
    display: flex;
    flex-direction: column;
    & > a, p {
      color: #F5F5F5;
    }
  }
  &__rights {
    margin-top: 120px;
    color: #F5F5F5;
  }
}

@media screen and (min-width: 568px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr), min-content;
    column-gap: 15px;
    & article:nth-child(1) {
      grid-column: 1 / -1;
    }
    & article:nth-child(2) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
    & article:nth-child(3) {
      grid-column: 1 / 2;
    }
    & article:nth-child(4) {
      grid-column: 2 / 3;
    }
    & article:nth-child(5) {
      grid-column: 3 / 4;
    }

  }
}