.form {
  display: flex;
  flex-direction: column;
  & > input {
    padding: 11px 16px;
    border-radius: 4px;
    border: 2px solid #D1ECFD;
    background: #F5F5F5;
    margin-top: 86px;
    margin-bottom: 16px;
  }
  & > button {
    padding: 10px 44px;
    border-radius: 4px;
    background: var(--soft-blue, #5468E7);
    border: none;
    color: #F5F5F5;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 568px) {
  .form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 56px 0 100px;
    & > input {
      width: 80%;
      margin: 0;
    }
    & > button {
      margin: 0;
    }
  }
}