.header {
  &__background {
    background-image: url(../../img/headerBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &__container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__burger {
    background-color: transparent;
    border: none;
  }
  &__nav {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: all 2s;
    z-index: 2;
    &_active {
      top: 0;
    }
    & > a {
      margin: 20px 0;
      color: var(--dark-blue, #232340);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      &:hover {
        text-decoration-line: underline;
      }
    }
    & > button {
      position: absolute;
      background-color: transparent;
      border: 0;
      top: 30px;
      right: 30px;
    }
    &__logo {
      margin-bottom: 30px;
    }
  }
  &__title {
    & > h1, p {
      color: #fff;
    }
    & > h1 {
      margin-top: 188px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 568px) {
  .header {
    &__background {
      background-image: url(../../img/headerBackgroundImageDesc.jpg);
      background-position: right;
    }
    &__nav {
      padding: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: -140vh;
      left: 0;
      width: 100%;
      height: 140vh;
      background-color: #fff;
      transition: all 2s;
      z-index: 2;
      &_active {
        top: 0;
      }
    }
  }
}

@media screen and (min-width: 684px) {
  .header {
    &__burger {
      display: none;
    }
    &__nav {
      flex-direction: row;
      position: static;
      padding: 0;
      width: min-content;
      height: min-content;
      background-color: transparent;
      transition: none;
      & > button {
        display: none;
      }
      &__logo {
        display: none;
      }
      & > a {
        margin: 0 12px;
        color: #fff;
        white-space: nowrap;
        color: var(--off-white, #F5F5F5);
        text-shadow: 0px 8px 16px rgba(35, 35, 64, 0.60);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
      & a:nth-last-child(-n+1) {
        padding: 10px 44px;
        border-radius: 4px;
        background: rgba(84, 104, 231, 0.50);
      }
    }
  } 
}

@media screen and (min-width: 1200px) {
  .header {
    &__background {
      height: 800px;
    }
    &__nav {
      & > a {
        margin: 0 30px;
      }
    }
    &__title {
      width: 40vw;
      & > h1 {
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
      }
    }
  }
}