.post {
  padding-top: 80px;
  &__box {
    padding-bottom: 80px;
    border-bottom: 1px solid #BBC8D4;
  }
  &__author {
    padding: 56px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr repeat(2, 2fr);
    column-gap: 13px;
    & img {
      border-radius: 50%;
    }
    & p {
      color: var(--desaturated-blue, #7676B2);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.12px;
      justify-content: center;
      &:nth-child(2) {
        border-right: 1px solid #7676B2;
      }
    }
  }
  &__titleImage {
    margin-bottom: 64px;
    height: 100%;
    & img {
      width: 100vw;
      height: 280px;
      object-fit: cover;
    }
  }
  &__text {
    margin-bottom: 64px;
  }
  &__writtenByBlock {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, min-content);
    column-gap: 24px;
    & img {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      align-self: center;
    }
    & p:nth-child(2) {
      color: var(--soft-violet, #C897E4);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.16px;
      text-transform: uppercase;
    }
    & p:nth-child(3) {
      color: var(--dark-blue, #232340);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin: 12px 0;
    }
    & p:nth-child(4) {
      color: rgba(35, 35, 64, 0.60);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.14px;
    }
  }
  &__form {
    padding: 80px 0;
    &__box {
      margin-top: 43px;
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      background-image: url(../../img/avatar.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 50px;
      height: 50px;
    }
    &__input {
      width: 70%;
      height: 245px;
    }
  }
}